.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a445a;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    gap: 1.5vw;
    border-right: 0.25vw solid grey;
    border-left: 0.25vw solid grey;
}

.navBarItem {
    display: flex;
    color: white;
    width: 101%;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1vw;
}

.navBarItem:hover {
    background-color: white;
    border-top: 0.3vw solid black;
    border-bottom: 0.3vw solid black;
    transition: all 0.5s;
    color: black;
}

.navBarItem:not(:hover) {
    border-top: 0.3vw solid grey;
    border-bottom: 0.3vw solid grey;
    transition: all 0.5s;
}