.container:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.container:not(:hover) {
    transform: scale(1);
    transition: all 0.5s;
}

.skillImg {
    height: 8vw;
    width: 8vw;
}

.skillName {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}