.container:hover {
    transform: scale(1.125);
    transition: all 0.5s;
    font-family: 'Ubuntu', sans-serif;
}

.container:not(:hover) {
    transform: scale(1);
    transition: all 0.5s;
    font-family: 'Ubuntu', sans-serif;
}

.skillImg {
    height: 9vw;
    width: 9vw;
}

.skillName {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}