.container {
    background-color: #3a445a;
    position: fixed;
    border: 0.25vw solid grey;
    border-radius: 0.5vw;
    width: 78%;
    height: 96%;
    margin-left: 20%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.saludo {
    color: white;
}

.presentacion {
    color: white;
    align-items: center;
    justify-self: center;
}