.container {
    background-color: #3a445a;
    position: fixed;
    border: 0.25vw solid grey;
    border-radius: 0.5vw;
    width: 78%;
    height: 96%;
    margin-left: 20%;
    font-family: 'Ubuntu', sans-serif;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    height: 90%;
    margin-top: 5%;
}