.container {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 0.25vw solid grey;
    border-radius: 0.5vw;
    width: 70vw;
    height: 50vw;
    margin-left: 4.1vw;
    background-color: #3a445a;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}